body {
    margin: 0;
    padding: 0;
    background-color: #89CFFD;
    color: #FBDF07;
}

.container {
    height: 75vh;
    width: 90vw;
    border: 5px dotted #187498;
    margin: 30px auto;
    display: grid;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item5 item6"
    "item7 item8 item9"
    ". item0 ."
    ;
}

#word {
    display: block;
}

.container ul {
    width: 90vw;
    height: 75vh;
    margin: 0;
    padding: 0;
    display: grid;
}

.container ul li {
    list-style-type: decimal;
    font-size: 2rem;
}

#word-1 {
    grid-area: item1;
}
#word-2 {
    grid-area: item2;
}
#word-3 {
    grid-area: item3;
}
#word-4 {
    grid-area: item4;
}
#word-5 {
    grid-area: item5;
}
#word-6 {
    grid-area: item6;
}
#word-7 {
    grid-area: item7;
}
#word-8 {
    grid-area: item8;
}
#word-9 {
    grid-area: item9;
}
#word-0 {
    grid-area: item0;
}

.startBtn {
    width: 130px;
    height: 40px;
    color: #FBDF07;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: #FF7396;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    font-size: 1.3rem;
    margin: 30px auto;
    display: block;
}

.startBtn:hover {
    font-size: 1.2rem;
    color: #FFFFDE;
}